<!DOCTYPE html>
<html>

<head>
	<title>Example formBuilder</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/scripts/form-builder.css">
</head>

<body>


	<div id="fb-editor"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/scripts/form-builder.js"></script>
    <script src="main.js"></script>
</body>

</html>